.secao3 {
  padding: 10%;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 50px;
  background-color: rgb(4, 90, 90);
}
.fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pixelart {
  justify-content: center;
  text-align: center;
  height: 320px;
  margin: 30px;
}
.pixelart:hover {
  opacity: 80%;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .secao3 {
    font-size: 20px;
  }
  .pixelart {
    margin: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}
